<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="tertiary">Adicionar Quadrinho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="comicForm">
    <ion-grid>
      <ion-row class="ion-no-margin-bottom ">
        <ion-col size-sm="6" offset-sm="3" class="ion-margin-top">

            <ion-row>
              <ion-col size-sm="6" offset-sm="3">

                <app-image-picker
                [showPreview]="comicForm.get('image').value"
                  (imagePick)="onImagePicked($event)"
                ></app-image-picker>

              </ion-col>
            </ion-row>


          <ion-card>
            <ion-item lines="none">
              <ion-input type="text" name="titulo" formControlName="titulo" placeholder="Título"></ion-input>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item lines="none">
              <ion-input type="text" name="autor" formControlName="autor" placeholder="Autor"></ion-input>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item lines="none">
              <ion-input type="text" name="editora" formControlName="editora" placeholder="Editora"></ion-input>
            </ion-item>
          </ion-card>

          <ion-card>
            <ion-item lines="none">
              <ion-datetime display-format="D/M/YYYY" picker-format="D M YYYY" formControlName="dataLan" placeholder="Data de Lançamento" name="dataLan"></ion-datetime>
            </ion-item>
          </ion-card>
          </ion-col>
          </ion-row>

          <ion-row class="ion-no-margin-top">
            <ion-col size-sm="3" offset-sm="3" class="ion-no-margin-top">
              <ion-card>
                <ion-item lines="none">
                  <ion-input type="text" name="edicao" formControlName="edicao" placeholder="Edição"></ion-input>
                </ion-item>
              </ion-card>
            </ion-col>
            <ion-col size-sm="3" offset-sm="3" class="ion-no-margin-top">
              <ion-card>
                <ion-item lines="none">
                  <ion-input type="text" name="totaledicao" formControlName="totaledicao" placeholder="Total de edições"></ion-input>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-margin-top">
            <ion-col size-sm="3" offset-sm="3" class="ion-no-margin-top">
              <ion-card>
                <ion-item lines="none">
                  <ion-select placeholder="Formato" formControlName="formato" name="formato">
                    <ion-select-option value="ongoing">Ongoing Series</ion-select-option>
                    <ion-select-option value="limited">Limited Series</ion-select-option>
                    <ion-select-option value="tpb">Trade Paperback</ion-select-option>
                    <ion-select-option value="oneshot">One-shot</ion-select-option>
                    <ion-select-option value="novel">Graphic Novel</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-card>
            </ion-col>
            <ion-col size-sm="3" offset-sm="3" class="ion-no-margin-top">
              <ion-card>
                <ion-item lines="none">
                  <ion-select placeholder="Agenda" formControlName="agenda" name="agenda">
                    <ion-select-option value="semanal">Semanal</ion-select-option>
                    <ion-select-option value="mensal">Mensal</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row class="ion-no-margin-top">
            <ion-col size-sm="6" offset-sm="3" class="ion-no-margin-top">
              <ion-card>
                <ion-item lines="none">
                  <ion-select placeholder="Status de leitura" formControlName="status" name="status">
                    <ion-select-option value="lido">Lido</ion-select-option>
                    <ion-select-option value="lendo">Lendo</ion-select-option>
                    <ion-select-option value="queroler">Quero ler</ion-select-option>
                    <ion-select-option value="abandonado">Abandonado</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-card>
            </ion-col>
          </ion-row>


          <ion-row class="ion-margin-btn ion-text-center">
            <ion-col size-sm="6" offset-sm="3">
              <ion-button shape="round" color="tertiary" expand="block" (click)="onCreateComic()">
              <ion-icon name="add-outline" slot="start"></ion-icon>
              <small>Adicionar</small>
              </ion-button>
            </ion-col>
          </ion-row>

    </ion-grid>
  </form>
</ion-content>

